{% extends "base.html" %}
{% block body %}
    {% from "includes/_formhelpers.html" import render_field %}
    <br/>
    <h1>Add new offer</h1>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST" action="">
            <div class="form-group">
                {{render_field(form.title, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.price, class_="form-control")}}
            </div>
            <br/>
            <div class="form-group">
                {{render_field(form.brand, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.model, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.category, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.vin, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.reg, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.year, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.mileage, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.transmission, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.num_of_seats, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.color, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.accident, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.country, class_="form-control")}}
            </div>
            <br/>
            <div class="form-group">
                {{render_field(form.engine_name, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.engine_capacity, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.engine_power, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.engine_fuel, class_="form-control")}}
            </div>
            <br/>
            <div class="form-group">
                {{render_field(form.desc, class_="form-control")}}
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}